*{
    font-family: old standard tt;
}

.container {
}

.wrapper {
    min-height:540px;
}
ul {
    list-style: none;
}
.pageTop {
    margin-top:2em;
}

#bfis {
    margin-top:20px;
    padding: 1em;
}

.level2 {
    display: none;
    margin-left: 5em;
    color: #ff8c00;
}

.pics img{
    display:none;
}

.thumbnail {
    height: 110px;
}

.thumbnail > img {
    max-height: 100px;
}

hr {
    border-top-color: #ad7d65;
    width:30%;
    margin: 1em auto;
}

.descrip {
    padding: 2em 11em;
}

.brianContent{
    display:none;
}

.developer{
    float:none;
    margin: 1em auto;
}
.contact {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.footer {
    border-top:none;
}

.footer li, .footer a {
    color: #ff8c00;
    display: inline;
    padding-right: 2em;
    text-decoration: none;
}